body.section-about {
  #page-document {
    h2 {
      position: relative;
      text-align: center;
      font-size: 2rem;
      border-bottom: 1px solid @tertiaryColor;
      padding-bottom: 1rem;
      margin-bottom: 2rem;

      &:before {
        content: '';
        width: 400px;
        height: 3px;
        background: @tertiaryColor;
        position: absolute;
        left: 0;
        bottom: -1px;
        right: 0;
        margin: 0 auto;
      }
    }
  }
}
