/*******************************
         Theme Overrides
*******************************/

.ui.basic.segment .header {

    .logo-nav-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (max-width: 767px) {
    .logo img{
        width: 70%;
    }
}


/*------------------- Menu --------------------*/
.navigation,
.tools {
    .ui.secondary.pointing.menu {


        .item {
            color: @textColor;
            font-family: 'Barlow condensed';
            font-weight: bold;
            font-size: 1.2rem;
            margin: 0 0 0 2rem;

            &:hover{
                color: @secondaryColor;
            }
        }
        .item.active, .item:active{
            color: @secondaryColor;
            border-bottom-color: transparent;
        }
    }
}