.content-area {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

#page-document.ui.container {
  width: 100% !important;
}

/*******************************
         Main featured
*******************************/

.main-teaser-item img {
  width: 100%;
  height: calc(~'100vh - 144px');
  object-fit: cover;
}
