h1 {
  font-weight: 700;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

.documentFirstHeading {
  border-bottom: none;
  text-align: center;
  font-size: 3rem;
  &::before {
    content: none;
  }
}
