.news-listing {
  .news-listing-title {
    margin: 0.5rem 0 !important;
    color: @tertiaryColor;
  }

  .read-more {
    display: flex;
    justify-content: end;
  }

  .news-date {
    margin: 1rem 0 0 0;
    font-size: larger;

    p {
      margin: 0;
    }
  }

  img {
    aspect-ratio: 1.5;
    object-fit: cover;
  }
}

body.section-news .news-listing h2 {
  display: none;
}

.contenttype-news-item .ui.basic.segment.content-area {
  max-width: 900px;
  margin: 1rem auto;
}
