.sponsorList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .sponsor {
    max-width: 25%;

    img {
      max-width: 100%;
    }
  }
}

@media only screen and (max-width: 767px) {
  #patron .sponsorList {
    display: flex;
    flex-direction: column;

    .sponsor {
      max-width: 100% !important;
    }
  }
}
