/*******************************
        Colored teaser
*******************************/
.block.__grid .card-teaser-item h3.card-teaser-item-subtitle {
  margin: 1rem 0 !important;
}
.card-teaser-item {
  padding: 2rem;
  color: white;

  h2 {
    font-size: 3rem;
  }

  .card-teaser-item-description {
    margin: 1rem 0;
  }

  .card-teaser-item-dates {
    font-size: 1.5rem;
  }

  a {
    color: white;
    text-transform: uppercase;
  }

  &.primary {
    background-color: @primaryColor;
  }

  &.secondary {
    background-color: @secondaryColor;
  }

  &.tertiary {
    background-color: @tertiaryColor;
  }
}

.stretched-link::after {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  content: '';
  pointer-events: auto;
}

/*******************************
        Home teaser
*******************************/
.home-teaser-item {
  margin: 3rem 0;

  .home-featured-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .home-teaser-item-content {
    margin: 1rem 0;

    .grid-text-wrapper-column {
      display: flex !important;
      padding: 0 1rem !important;

      &.right {
        padding-left: 0 !important;
      }
    }

    .home-teaser-item-subtitle {
      margin: 1rem 0;
      font-weight: 400;
    }

    .grid-image-wrapper-column {
      padding: 0 !important;
    }
  }

  .bg-grey {
    background: @grey;
  }
}

/*******************************
        Home teaser
*******************************/
.imaged-teaser-item {
  display: flex;
  flex-direction: column;

  img {
    max-width: 100%;
    margin-bottom: 1rem;
  }

  .read-more {
    margin-top: auto;
  }
}

.imaged-teaser-item-title {
  margin-bottom: 0.5rem;
}

.imaged-teaser-item-description {
  margin-bottom: 1.5rem;
}
